@import url(./font.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-black:#282828;
    --secondary-grey:#151515;
    --prostoOne:"ProstoOne";
    --montserrat:"Montserrat";
}

.container{
    padding: 0px 245px;
}